# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
myenv/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log
